
#calendar {
    display: flex;
    justify-content: center;
    color: var(--text);
}


/* TODO color vars */

.day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    pointer-events: none;
}

.month-name {
    text-align: center;
    height: 15px;

    margin-bottom: 5px;
}

.day-name {
    display: flex;
    justify-content: center;
    border-top: 1px solid #7c6f64;
    width: 34px;
    padding: 5px 4px 0 4px;
}

.day {
    text-align: center;

    border: 1px solid #7c6f64;
    background-color: #3c3836;
    border-radius: 5px;

    color: #eeeeee;

    width: 30px;
    height: 46px;

    padding: 3px 0 3px 0;

    cursor: pointer;
    pointer-events: auto;
}

.day:hover {
    background-color: #504945;
}

.circle-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1px;

    margin-top: 2px;
}

.circle {
    border-radius: 50%;
    background-color: green;
    width: 6px;
    height: 6px;
}