
/* ================================================== */
/* page layout */
/* ================================================== */

html, body {
    background-color: var(--background);
}

body {
    height: 100vh;
    overflow: hidden;
}

.app {
    display: flex;
}

.tab-content {
    margin: 1em 0.5em 1em 0.5em;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.5em;
    height: calc(100vh - 2em);
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex: 1;
    min-height: 0;
}

.top-row {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.current-info {
    min-width: 300px;
}

.current-info-details {
    display: flex;
    gap: 2px;
    justify-content: space-between;
    flex-direction: column;
}

.info-names {
    display: flex;
    align-items: center;
    gap: 1em;
}

.info-controls {
    display: flex;
    gap: 0.5em;
}

.title {
    margin: 0;
}

.bold-caption {
    font-weight: bold;
}

.column {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.control-buttons {
    display: flex;
    gap: 0.5em;
}

.task-column {
    position: relative;
}

#addTaskButton {
    position: absolute;
    top: 0.5em;
    right: 0.5em;

    width: 2em;
    height: 2em;
}

#sticky {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

#cards {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

#tasks {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    padding-left: 1em;
}

.surface-dark {
    padding: 1em;
}

.task-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.selected {
    font-weight: bold;
}

.selected-task {
    text-decoration: underline;
}

.task-color {
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: center;
    align-items: center;

    background-color: var(--surface-dark);
}

.tabs > a {
    padding: 12px 12px 12px 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--text-secondary);
}

.active {
    background-color: var(--choice);
    border-radius: 50%;
    color: var(--accent) !important;
}

/* ================================================== */
/* modal */
/* ================================================== */

.modal-content {
    background-color: transparent;
}

.modal-content input {
    border-radius: 10px !important;
}

#task-name-input {
    border-radius: 5px;
    flex: 1;
}

#task-color {
    flex: 1;
    border-radius: 5px;
    max-width: 38px;
    height: 100%;
}

.add-modal-inputs {
    min-width: 400px;
}

#deadline-input {
    width: 100%;
}

#add-task-button {
    display: flex;
    gap: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
}

#repeat-value {
    width: 20%;
}

.days-select {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0 0.2em;
    min-width: 180px;
    max-width: 180px;
}

.days-select label {
    font-size: 14px;
}

/* ================================================== */
/* tag input */
/* ================================================== */

#tag-input-container {
    border-radius: 10px;
    border: 2px solid var(--surface);
}

#tag-input-container:focus-within {
    border: 2px solid var(--accent);
}

#tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

#tag-input {
    width: 100%;

    background-color: var(--surface);
    border: none;

    margin: 0.5em 0;
}

#tag-input:focus {
    border: none;
}

#tag-input-container {
    position: relative;
}

#tag-suggestions {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    right: 0;

    border-radius: 5px;

    overflow-y: auto;
    z-index: 10;
    display: none;

    background-color: var(--selectable);
}

.search-result {
    cursor: pointer;

    display: flex;
    align-items: center;

    padding: 8px 1em;
    transition: background 0.2s;
    border-bottom: 1px solid var(--border);
}

.search-result:last-child {
    border-bottom: none;
}

.search-result:hover {
    background: var(--choice);
}

.tag-preview {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;

    border-radius: 50%;
}

.tag {
    display: inline-flex;
    gap: 0.5em;
    align-items: center;

    padding: 4px 8px;

    opacity: 0.95;
    border-radius: 5px;
}

.tag-remove {
    cursor: pointer;
    background: var(--selectable);
    border-radius: 50%;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 20px;
    height: 20px;
}

.tag-remove:hover {
    background: var(--focused);
}