
/* ================================================== */
/* page layout */
/* ================================================== */

html, body {
    background-color: var(--background);
}

body {
    height: 96vh;
}

.app {
/*    width: 100%;*/
    margin: 1em;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1.5em;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex: 1;
}

.top-row {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.current-info {
    min-width: 300px;
}

.current-info-details {
    display: flex;
    gap: 2px;
    justify-content: space-between;
    flex-direction: column;
}

.info-names {
    display: flex;
    gap: 1em;
}

.info-controls {
    display: flex;
    gap: 0.5em;
}

.title {
    margin: 0;
}


.column {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.column-title {
    display: flex;
    justify-content: space-between;

}

.column-controls {
    display: flex;
    gap: 0.5em;
}

.column-controls > button {
    width: 30px;
}


.control-buttons {
    display: flex;
    gap: 0.5em;
}

#sticky {
    flex: 1;
}

#cards {
    flex: 1;
}

.left-content {
    flex: 1;
}
