
/* ================================================== */
/* tooltip styling */
/* ================================================== */

.editor a {
  text-decoration: underline;
  color: var(--accent);
}

.note-link {
  position: relative;
  display: inline-block;
  text-decoration: underline;
}

/* TODO redo tooltips */
.note-link .tooltiptext {
  visibility: hidden;
  width: 120px;
  background: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;

  opacity: 0;
  transition: opacity 0.3s;
  
  top: 0;
  left: 10px;
}
.note-link:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* ================================================== */
/* search suggestions styling */
/* ================================================== */

.suggestions {
  display: block;
  position: relative;
  background-color: var(--surface);
  color: var(--text-secondary);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* ================================================== */
/* editor */
/* ================================================== */

.editor, .editor * { 
  user-select: text !important; 
  -webkit-user-select: text !important; 
  -moz-user-select: text !important; 
}

.editor svg, .editor svg * { 
  pointer-events: auto !important; 
}

.editor code, .editor pre { 
  white-space: pre-wrap; 
}

.editor {
  display: flex;
  flex-direction: column;
  overflow: auto;

  white-space:pre;
}

pre {
  overflow: unset;
}

.editor > :not(.hljs) {
  color: var(--text-secondary);
}

code.hljs {
  border-radius: 10px;
}

.editor:focus-visible {
  border: 2px solid var(--accent);
  outline: none;
}

.active-editor,
.active-editor * {
  color: var(--text) !important;
}

.editor img {
  max-width: 100%;
  max-height: 100%;

  height: max-content;
  width: max-content;
}

.editor p {
  margin: 0;
}