
/* ================================================== */
/* page layout */
/* ================================================== */

html, body {
    background-color: var(--background);
}

body {
    height: 96vh;
}

.controls-block {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.app {
    margin: 1em;
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 1.5em;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 1.5em;

    width: 70%;
}

.project-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#stats-container {
    width: 30%;
}

#kanban-container {
    width: 100%;
    flex-grow: 1;
}

/* ================================================== */
/* restyling elements */
/* ================================================== */

input[type="text"] {
    border-radius: 10px !important;
}