
/* ================================================== */
/* page layout */
/* ================================================== */

html, body {
    background-color: var(--background);
}

body {
    height: 100vh;
}

.controls-block {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.app {
/*    margin: 1em;*/
    display: flex;
    flex-direction: row;
    height: 100%;
}

.side-nav {
    border-radius: 0px !important;
}

.tab-content {
    width: 100%;
}

#v-pills-task {
    background-color: var(--background);

    height: 100%;
}

.task-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;

    padding: 1em;

    background-color: #303030;
    border-bottom: 1px solid var(--border);
}

.task-header button {
    border: 1px solid var(--border);
    background-color: #303030;
}

#task-name {
    border: 2px solid var(--accent);
    margin: 0px;
    border-radius: 5px !important;
}

#task-name:disabled {
    border: 1px solid var(--border);
    margin: 1px;
    color: var(--text-secondary) !important;
}

#renameButton {
    height: 100%;
}

.tab-pane.active {
    display: flex !important;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.dashboard {
    flex: 1;
    min-height: 0;
    padding: 0;

    display: flex;
    gap: 1em;
}

.dashboard > div {
    flex: 1;
    display: flex;
}

.dashboard-right {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 1em;

    width: 40%;
    min-width: 300px;
}

.dashboard-right > div {
    flex: 1;
}

.dashboard-block {
    border-radius: 5px;
    padding: 1em;

    color: var(--text-secondary);
}

#sticky {
    flex: 1;
}

/* ================================================== */
/* kanban */
/* ================================================== */

#kanban-container {
    display: flex;
    gap: 1em;

    padding: 1em;
}

.kanban-column {
    background-color: var(--background);

    border: 1px solid var(--border);
    border-radius: 5px;

    width: 250px;
    min-height: 400px;
}

.kanban-column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--selectable);
    border-radius: 5px 5px 0 0;
    cursor: move;
}

.column-menu {
/*    padding: 0 5px;*/
    margin-right: 10px;
}

.kanban-column-name {
    font-weight: bold;
    padding: 10px;

    user-select: none;

    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kanban-task {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    cursor: move;
}

.kanban-task:hover {
    background-color: #f4f5f7;
}

.kanban-column-ghost {
    opacity: 0.5;
    background: var(--selectable);
}
.kanban-task-ghost {
    opacity: 0.5;
    background: #c8ebfb;
}

/* ================================================== */
/* restyling elements */
/* ================================================== */

input[type="text"] {
    border-radius: 10px !important;
}

.side-nav button {
    border-radius: 50% !important;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3em;
    width: 3em;
}

.nav-link.active {
    background-color: var(--choice) !important;
}

.nav-link.active i {
    color: var(--accent) !important;
}

/* ================================================== */
/* modal */
/* ================================================== */

.modal-content {
    background-color: transparent;
}