
:root {
  --focused: #7c6f64;
  --choice: #665c53;
  --selectable: #504945;
  --surface: #3c3836;
  --surface-dark: #1d2021;

  --background: #282828;

  --accent: #b8bb26;

  --text: #fff;
  --text-secondary: #d5c4a1;
  --text-inactive: #bdae93;

  --border: #7c6f64;

  --active: #d79921;
  --disabled: #928374;
}

html {
  color: var(--text);
}

/* ================================================== */
/* background coloring classes */
/* ================================================== */

.focused {
  background-color: var(--focused);
  color: var(--text);
}

.choice {
  background-color: var(--choice);
  color: var(--text);
}

.selectable {
  background-color: var(--selectable);
  color: var(--text);
}

.surface {
  background-color: var(--surface);
  color: var(--text);

  border-radius: 10px;
  padding: 5px;
}

.surface-dark {
  background-color: var(--surface-dark);
  color: var(--text);

  border-radius: 10px;
  padding: 5px;
}

.background {
  background-color: var(--background);
  color: var(--text-secondary);
}

.transparent {
  background-color: transparent;
}


.bordered {
  border: 2px solid var(--border);
}

.borderless {
  border: none;
}

/* ================================================== */
/* buttons */
/* ================================================== */

button {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px solid var(--border);
  border-radius: 5px !important;

  user-select: none;
}

button > i {
  color: var(--text-secondary);
}

button:hover {
  transition: background-color 0.1s;
}

button.rounded {
  border-radius: 50% !important;
}

button.surface:hover {
  background-color: var(--choice);
}

button.background:hover {
  background-color: var(--choice);
}

/* selection with "tab" */
button:focus {
  outline: 2px solid var(--accent);
}

/* ================================================== */
/* elements */
/* ================================================== */

input[type="text"] {
  background-color: var(--selectable);
  color: var(--text-secondary);

  border: 2px solid var(--selectable);
  border-radius: 15px;

  text-overflow: ellipsis;
}

input[type="text"]:focus {
  background-color: var(--choice);
  color: var(--text);
  border-color: var(--accent);

  outline: none;
}

input[type="text"]::selection {
  background-color: var(--focused);
  color: var(--text);
}

input[type="text"].surface {
  background-color: var(--surface);
  color: var(--text-secondary);

  border: 2px solid var(--surface);
  border-radius: 15px;

  text-overflow: ellipsis;
}

input[type="text"].surface:focus {
  border-color: var(--accent);
  color: var(--text);

  outline: none;
}


select {
  background-color: transparent;
  color: var(--text-secondary);

  border: 2px solid var(--border);
  border-radius: 5px;

  padding: 2px 5px 2px 5px;
}

select:hover {
  background-color: var(--choice);
  transition: background-color 0.1s;
}

select:focus {
  outline: 2px solid var(--accent);
}

/* ================================================== */
/* material symbols */
/* ================================================== */

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url(../deps/material_symbols.woff2) format('woff2');
}

.material-symbols {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}